
.mobphone {
    text-align: right;
    border-right: 4px solid #E2E2E3;
}

.mobphone a {
    margin-left: 12px;
    margin-right: 12px;
}

.email {
    margin-left: 8px;
}


.fb {
    margin-left: 4px;
    color: #1287bf;
}

p {
    font-family: Myriad Pro Regular;
}

p {
    color: #686868;
}

/*,,,,,,,,,,nav css,,,,,,,,*/

.active a {
    color: #de2b24;
    font-weight: bold;
}

.nav-link {
    color: #424242;
    font-weight: bold;
}





.dot {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 12px;
}



/*,,,,,,,baner section,,,,,*/

.banner-area {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.banner-text h1 {
    font-size: 45pt;
}


.banner-text p {
    font-size: 30pt;
    color: #ffffff;
}


.banner-area::before {
    position: absolute;
    content: '';
    background-color: rgba(22, 133, 185, 0.05);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}










.banner-text {
    text-align: center;
    margin: 0 0;
    text-align: center;
    margin: 0 0;
    color: #ffffff;
    font-family: "Myriad Pro Regular";
}

/*******************************/



/*festures area*/

.features {

    padding: 60px 30px;


}

.title h2 {
    color: #424242;
    font-size: 30pt;
}


.title p {
    color: #686868;
    font-size: 20pt;
}

.title::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 5px;
    background-color: black;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -5px;

}

.single-feature {
    margin-top: 70px;

}

.single-feature h4 {
    margin: 20px 0px 22px;
    font-size: 18pt;
    color: #424242;

}

.single-feature p {
    font-size: 13.5pt;
}


/*approaches-goals*/


.our-approach {
    background-color: #f3f3f3;
    position: relative;
    padding: 80px 0px;


}




.camera {
    background-color: white;
    margin: 40px 0px
}


.title-para {

    display: contents;

}


.nature-paragraph {
    background-color: white;
}



/*image section*/

.boxes container{
        
}

.boxes {
    background-color: #de2b24;
   padding: 60px 0px;
    
}



.boxes h2 {
    color: #ffffff;
}

.boxes p {
    color: #f6c6c5;
}

.images h5 {
    color: #ffffff;
}

.images p {
    color: #ffffff;
}

.images {

    background-color: #f35e59;
    
   
    text-align: center;

}



.images i {

    font-size: 40px;
    color: #f9afac;
    padding: 50px;


}



.symbol::after {
    content: '';
    position: absolute;
    width: 58px;
    height: 5px;
    background-color: white;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -5px;

}






/*form*/


.form {
    padding: 60px 20px;
    background-color: #1287bf;
    width: 100%;
}

.form h4 {
    color: white;


}

.form p {
    color: #9e9e9e;
}


.form i {
    font-size: 30px;
    color: white;

}

.contract-form {
    background-color: white;
  
}

.form-column {
    padding: 50px 100px;
    background-color: #ffffff;
    text-align: center;

}

form {
    
}

.col {
    padding: 20px 20px;
}






/*footer*/
.social-link i {
    font-size: 45px;
    padding: 0px 15px;
    color: white;

}

/*copy right*/



.copy-right{
    background-color: #515151;
}









